extends layout
block content
    input(type="text" id="username" placeholder="username")
    br
    input(type="password" id="password" placeholder="password")
    br
    button(onclick="console.log('???')") Login!