extends layout
block content
    .tight-wrap
        h1 Downloads

        p For macOS, download the Swift version. It will be faster since it's native.
        span#swift-button

        p Windows and Linux download. The Java port will work on virtually anything.
        span#download-button

block scripts
    script(src="js/rainbow.js")
    script(src="js/download.js")