doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title LIVE
    link(rel='shortcut icon', href='img/app-icon.png', type='image/x-icon')
    link(rel='stylesheet', href='css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet")
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js')
  body
    #wrap
      #header
        a(href="/home")
          img#logo-header(src='img/logo-text-light.png', alt='')
        span#header-links
      block content
      script(src='js/main.js')
    block scripts