extends layout
block content
    .stream-container
      img.stream-image#stream-img(src='img/offline.png', alt='Video stream')
      .chat-container
        .messages
          .message
            span.chat-username Username:
            span.chat-content Message contents goes here
        input.chat-input(type='text', placeholder='Chat [ENTER]')
      .info-box
        span.title-stream
          .viewers-icon
          span#title-stream No title
        span.viewer-count
          span#viewercount 0
          |  Viewers
        span.description#description-stream
          | This stream has no description
        
block scripts
  script(src="js/stream.js")