*{
    font-family: 'Roboto', sans-serif;

}

body{
    background: rgb(36, 36, 36);
    margin: 0;
    color: white;
}


#wrap{
    max-width: 900px;
    width: 100%;
    background: rgb(22, 22, 22);
    display: block;
    margin: 0 auto;
    position: relative;
    padding-bottom: 5em;
    min-height: 600px;
    height: calc(100vh - 80px);
}

.tight-wrap{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 90%;
    margin-top: 2em;
}

h1{
    border-bottom: #fc2145 4px solid;
    display: inline-block;
    margin-bottom: 10px;
}

#logo-header{
    height: 90%;
    position: relative;
    top: 3px;
    left: 5px;
    cursor: pointer;
}

img {
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
  }


#header{
    width: 100%;
    height: 60px;
    position: relative;
    margin: 0 auto;
    display: block;
    background: #1b1b1b;
    border-bottom: solid 5px #fc2145;
}

#header-links{
    position: relative;
    display: block;
    float: right;
    top: 13px;
    right: 15px;
}

.header-button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 5px;
    position: relative;
    display: inline-block;
}

.header-button:hover{
    border-bottom: white 3px solid !important;
}


#title-stream{
    font-size: 2em;
    display: inline-block;
    margin-bottom: .2em;
}

.stream-container{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2em;
    position: relative;
}

.stream-image{
    width: calc(65% - 1.5em);
    left: 1em;
    top: 1em;
    position: relative;
    display: inline-block;
    border-bottom: 4px #fc2145 solid;
} 

.viewers-icon{
    display: inline-block;
    position: relative;
    background: #292929;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 100px;
}

.viewer-count{
    float: right;
    font-size: 20px;
    position: relative;
    display: inline-block;
    color: #aaaaaa;
}

.chat-container{
    width: calc(35% - 1.5em);
    float: right;
    right: 1em;
    top: 1em;
    display: block;
    background: rgb(17, 17, 17);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 4px #fc2145 solid;
    overflow: hidden;
}

.info-box{
    display: inline-block;
    width: calc(100% - 2em);   
    left: 1em; 
    position: relative;
    margin-top: 2em;
    color: white;
}

.title{
    font-size: 20px;
    display: block;
}

.description{
    display: block;
    font-size: 15px;
    color: rgb(163, 163, 163);
}

.chat-input{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1em;
    font-size: 15px;
    background: rgb(235, 235, 235);
    border: none;
    padding: 1em;
}

*:focus {
    outline: none;
}

.login-input{
    border: none;
    font-size: 1em;
    padding: 1em;
    display: block;
    width: 25em;
    margin: 1em;
    border-bottom: #fc2145 5px solid;
    background: none;
    color: white;
}

#login-button{
    border: none;
    padding: 1em;
    font-size: 1em;
    display: block;
    margin: 1em;
    width: 10em;
    cursor: pointer;
    background: #202020;
    color: white;
    border-bottom: #fc2145 solid 5px;
    border-radius: 0px;
}

.tiny-text{
    color: rgb(233, 233, 233);
    margin: 1em;
    
}

.tiny-text > a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border-bottom: #fc2145 4px solid;
}

.title{
    margin: .5em;
    font-size: 2em;
    color: white;
}


.error-message{
    display: block;
    margin: 1em;
    color: rgb(255, 30, 68);
}

.me-page{
    color: white;
    font-size: 2em;
    display: block;
    margin: 1em;
}

.me-page > input{
    border: none;
    background: none;
    border-bottom: #fc2145 4px solid;
    display: block;
    margin-top: 1em;
    font-size: .7em;
    color: white;
    width: 100%;
}

#stream-key{
    display: block;
    margin-top: 1em;
    font-size: .8em;
}


#show-key{
    border: none;
    height: 30px;
    top: -6px;
    margin-left: 10px;
    font-size: .8em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    color: white;
    border-bottom: #fc2145 4px dashed;
}

#logout, #save{
    top: 10px;
    border: none;
    height: 30px;
    font-size: .8em;
    margin-right: 1em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    color: white;
    height: 1.4em;
    border-bottom: #fc2145 4px dashed;
}


/* Front page, index */
.index-page{
    width: 90%;
    margin: 0 auto;
}

.download-button{
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    transition: all .1s;
    top: 0px;
    left: 0px;
}
/* 
.download-button:hover{
    top: -4px;
}

.download-button:active{
    top: 0px;
} */

.download-button-link{
    display: block;
    cursor: pointer;
    position: relative;
}

.chat-username{
    font-size: 16px;
    color: #fc2145;
    font-weight: 400 !important;
}

.chat-content{
    display: inline-block;
    margin-top: -5px;
}

.message{
    padding: 5px;
    margin-bottom: 0px;
    
}

.messages{
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 3em);
}

.emote{
    margin-top: -10px;
    top: 6px;
    max-width: 40px;
    margin-left: 1px;
    margin-right: 1px;
    position: relative;
}

.stream-block{
    background: rgb(29, 29, 29);
    width: 90%;
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    height: 150px;
    overflow: hidden;
}

.img-preview{
    height: 150px;
    position: absolute;
    right: 0px;
    top: 0px;   
}

.preview-title{
    font-size: 25px;
    display: block;
    margin: 20px;
    position: relative;
}
.preview-description{
    position: relative;
    display: block;
    margin: 20px;
    margin-top: -10px;
}

.preview-username{
    position: relative;
    display: block;
    margin: 20px;
    margin-top: -10px;
    color: #fc2145;
}

a{
    text-decoration: none;
    color: white;
}

.emotes{
    width: 100%;
    max-height: calc(250px - 3em);
    height: 0px;
    position: absolute;
    bottom: 3em;
    left: 0px;
    background: rgb(31, 31, 31);
    transition: all .1s ease-in-out;
    overflow: hidden;
}

.emote-preview{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
   /*  background: rgb(31, 31, 31); */
    height: 40px;
/* s */
}

.emote-preview:hover{
    background: rgb(20, 20, 20);
    cursor: pointer;
}

.emote-preview-img{
    height: 30px;
    top: 2.5px;
    left: 2.5px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.emote-name{
    position: relative;
    top: -5px;
    left: 5px;
    color: #fc2145;
}